# Compiled object files
*.o
*.obj

# Static & dynamic libs
*.a
*.so
*.dll
*.dylib
*.lib

# Executables
*.exe
*.out
*.app
*.bin

# Rust / Go binaries
target/
*.rlib
*.lock

# Other build artifacts
*.class
*.pyc
*.pyo
*.log
